<?xml version="1.0"?>
<launch>
    <arg name="goal_x" default="2.0"/>
    <arg name="goal_y" default="2.0"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>  
    
    <param name="robot_description" textfile="$(find ros_pid_ga_tuner)/urdf/differential_robot.urdf" /> 

    <node pkg="ros_pid_ga_tuner" type="pid_ga.py" name="pid_ga" output="screen">
        <param name="goal_x" value="$(arg goal_x)"/>
        <param name="goal_y" value="$(arg goal_y)"/>
    </node>
    
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ros_pid_ga_tuner)/rviz/pid_ga.rviz" />
</launch>
